extends ../layout

block content
  .container
    if user
    .page-header
      h3(align='center')  New Stim Address
      .newaddy #{address}
      .qrcode(align='center')
        a(href='stim:' + address)
          img(src='' + data_url)
      br
      p(align='center')
        a.btn.btn-primary(href='/wallet', role='button') Go back to your wallet       
