extends ../layout

block content

  .page-header

    .wallettitle(align='center') Terms ans Conditions

    br
      .row
        .col-xl-6
          .panel.panel-default(align='center')
            .panel-heading

          #quick.panel-body
              .row
                .col-xs-6
                h2 Stim Web Wallet Terms of Use

                h3 ACCEPTANCE OF TERMS OF USE

                  p Please read these Terms of Use.  These Terms of Use are a legal agreement between you    (“you,” “your”) and Stim Web Wallet, LLC (“Stim Web Wallet,” “we,” “our” or “us”) and govern your use of Stim Web Wallet’s website, located at https://wallet.stimco.in/ (the “Website”), and any Services, as defined below, made available by or through the Website.  By clicking the “Sign Up” or “Accept” button, you accept these Terms of Use and agree to be bound and abide by them, including any terms specific to any Service.  If you are accessing the Website and/or the Services on behalf of a legal entity, then both you and the legal entity shall be bound by these Terms of Use, and you represent and warrant that you have the authority to act on behalf of such legal entity and to bind such legal entity to these Terms of Use.

                 p Please note that if you do not wish to be bound by these Terms of Use, you are not authorized to access or use the Website or the Services. 

                 p Please read these Terms of Use carefully and regularly.  You are bound by these Terms of Use.  We may modify these Terms of Use from time to time, and each time you access the Website or use the Services it is your responsibility to review, and you hereby accept, the version of these Terms of Use in effect at the time of such access.

              h4 Please note these important reminders:

                 p The access and usage rights granted to you terminate immediately upon any violation by you of this Terms of Use.  We have the right, at any time and in our sole discretion, to place any conditions or restrictions upon, or terminate, your access to and use of the Website and/or the Services, all without prior notice. 
Accessing and using the Website and the Services imposes certain responsibilities on you as set forth in these Terms of Use and under law.
Purchasing coins involves substantial risk, including the possibility of complete loss of all monies you pay for the coins.  Any purchase of coins you make will be governed by a separate coin purchase agreement and other documentation.
Stim Web Wallet or third parties retains all intellectual property rights in and to the Website and the Services, and your access does not convey to you any ownership rights in the Website or the Services or give you any rights to use the Website or the Services beyond what is permitted by these Terms of Use.
These terms of use contain a limitation of Stim Web Wallet's liability and disclaimer of warranties.  Without limiting the generality of such limitation and disclaimer, under no circumstances will Stim Web Wallet be liable if you use an incorrect wallet address when seeking to purchase coins, or if you do not have sufficient Funds when seeking to purchase coins.
Stim Web Wallet’s privacy policy is included in these Terms of Use, so that you will understand how Stim Web Wallet, its affiliates, and others may collect and use data and information about you and your usage of the Website and the Services.
Accessing and Using the Website(s) and Acceptable Use
|
                 p You represent and warrant that:  (1) you are at least 18 years of age; (2) you have full power and authority to agree to these Terms of Use; (3) you are not located in, under the control of, or a national or resident of any country subject to sanctions by the United States; (4) you have not been placed on the U.S. Department of Commerce’s Denied Persons List; (5) you are not identified as a “Specially Designated National” by the United States government; and (6) you will not access the Website and/or use the Services if you have previously been prohibited from doing so or if any laws prohibit you from doing so. 
|
Stim Web Wallet does not intend the Website or the Services to be used by persons or entities in countries or jurisdictions that require Stim Web Wallet to obtain a registration or license.  If you are in such a country or jurisdiction, you are not authorized to and agree that you will not use the Website or the Services.

You agree that you will not use the Website and/or the Services (1) for or in connection with any illegal activity in any country or jurisdiction, including but not limited to money laundering and the financing of terrorism, or (2) to post anything that is or may be considered offensive or abusive.

You agree that you will not use any device, software or routine to interfere or attempt to interfere with the proper working of the Website and/or the Services, such as:

Anything that could disrupt, negatively affect or inhibit other users, or could damage, disable, overburden or impair the Website and/or the Services;
Using any robot, spider, crawler, scraper or other automated means to access the Website and/or the Services or to extract data;
Using or attempting to use another user’s account without proper authorization;
Attempting to access any portion of the Website and/or the Services for which you do not have authorization;
Developing any third-party applications that interact with the Website and/or the Services; and
Encouraging or inducing anyone to engage in any of the foregoing or other impermissible activities.
You agree that all information you provide via the Website and/or the Services is and will be accurate, truthful, complete and not misleading.

We take no responsibility for anything posted on the Website and/or the Services, except to the extent set forth in these Terms of Use. 

              h4 Use of the Website and the Services; Intellectual Property Rights

                p Under these Terms of Use, “Services” refers to anything that may be accessed or executed through the Website or Stim Web Wallet Platform (now or in the future), such as: (a) online, electronic or hard-copy content, documentation, materials, data, information and products, including any coin launch and/or purchase; (b) payments, messaging or communication service or capability, including, without limitation, notification emails; (c) click-throughs or similar services; (d) posting sites, discussion boards or similar services; and (e) software or interfaces.  The Services may be made available by Stim Web Wallet or a third-party on behalf of Stim Web Wallet.

As between Stim Web Wallet and you, all rights, title and interest in and to the Website and the Services, including any and all intellectual property rights, are, and will remain, the exclusive property of Stim Web Wallet.  All other rights with respect to the Website and the Services that are not expressly granted to you in these Terms of Use are reserved for Stim Web Wallet. 

You agree to comply with the copyright, trademark, trade secret, patent and other applicable intellectual property laws of the United States, as well as those of any other relevant jurisdiction.  You will not remove, obscure or otherwise alter any copyright notices, trademark notices or other proprietary notices that are part of the Website and/or the Services.  You agree that you will not use any trademarks belonging to Stim Web Wallet in connection with any product or service that Stim Web Wallet is not offering or providing, in any manner that is likely to cause confusion among users, or in any manner that disparages or discredits Stim Web Wallet.  All other trademarks and content appearing on this site are the property of their respective owners. 

              h4 Registration and Accounts

                p You may be required to create an account in order to access and use the Services (your “Account”).  You agree to:  (1) provide accurate, current and complete information when creating your Account; (2) maintain and promptly update your Account information to keep it accurate, complete and current; (3) maintain the security and confidentiality of your login credentials and restrict access to your Account and your computer; (4) promptly notify Stim Web Wallet if you discover or otherwise suspect any unauthorized access or use of your Account; and (5) take responsibility for all activities that occur under your Account and accept all risks of unauthorized access. 

When you create an Account, you will be required to pick a user name and a password. You may not disclose your user name or password to any third party.  Stim Web Wallet reserves the right to limit the number of Accounts that you may hold, maintain or acquire.

If you are an entity, you may disclose your user name and password to your employees with a need to know this information to use the Website and/or the Services on your behalf.  You must ensure that all such employees that are authorized by you to access and use the Website and/or the Services are aware of and comply with these Terms of Use. 

              h4 Coin Purchases

                p The Services may include information about and the ability to purchase digital coin (“coins”), as more fully described in the relevant coin purchase agreement and other coin-related documentation (“coin Documentation”).  Please carefully review all coin Documentation.

Please remember that our rights to place conditions or restrictions on the Website and/or the Services apply to any coin purchase you may seek to make.

              h4 Purchase of coins

                p You acknowledge and agree that:  (1) Stim Web Wallet is not acting as your broker, intermediary, agent, or adviser, and has no fiduciary duty to you; (2) no communication or information provided to you by Stim Web Wallet shall constitute any type of advice; (3) you have received and read the coin Documentation; and (4) you have relied on your own judgment and/or advisers in making any coin purchase or request to purchase. 

Once Stim Web Wallet completes your purchase, Stim Web Wallet will seek to send confirmation of the purchase to you electronically at the email address Stim Web Wallet has on file or otherwise make such confirmation available via the Services.  You acknowledge and agree that any failure to provide such confirmation, or your failure to receive and/or read such confirmation, shall not invalidate any purchase.  You may not revoke any purchase or attempted purchase once you have submitted it.

You are solely responsible for determining what, if any, taxes are applicable to the purchase of coins, and for reporting and remitting the correct tax amount to the appropriate tax authority in each relevant jurisdiction.  Stim Web Wallet has no responsibility to determine, collect, report, withhold or remit any taxes in connection with any coin purchase.

               h4 Transfer of Funds

                 p In order to complete your purchase of the coins, you will be required to send funds (which may include digital or virtual currencies, cash or other means of payment) to the relevant wallet identified by Stim Web Wallet, via the Services or otherwise.  You may be required to verify that you control the external account that you use to send the funds.  To the extent you are charged a fee to send the funds, it is your responsibility to pay such fee and not Stim Web Wallet’s or anyone else’s.  You are solely responsible for your use of any external account, and you agree to comply with all terms and conditions applicable to any external account. The timing associated with a transfer of funds for a purchase will depend upon the third parties responsible for maintaining the external account, and Stim Web Wallet takes no responsibility for such timing or that such funds will be received in time to complete a transaction.  If funds are not received on a timely basis, Stim Web Wallet may cancel your purchase of coins without liability.

If you have sent an insufficient amount of funds to complete the purchase of the coins, we may in our discretion cancel the entire order or fulfill a partial order using the amount of funds available, but we have no obligation to alert you to the insufficiency.


              h4 Electronic Notice and Signature

                p You agree and consent to receive electronically all communications, agreements, documents, receipts, notices and disclosures (collectively, “Communications”) and that Stim Web Wallet may provide these Communications to you by posting them via the Services, by emailing them to you at the email address you provide, and/or by sending an SMS or text message to a mobile phone number that you provide. You should maintain copies of all Communications. You may contact us through email at: wallet@stimco.in should you have any questions regarding any Communication.   

You further consent and agree that your use of a key pad, mouse or other device to select an item, button, icon or similar act/action while using any Service we offer, or in accessing or making any transactions regarding any agreement, acknowledgment, consent, terms, disclosures or conditions, constitutes your signature, acceptance and agreement as if actually signed by you in writing.  Further, you agree that no certification authority or other third party verification is necessary to establish the validity of your electronic signature, and that the lack of such certification or third party verification will not affect the enforceability of your signature or any resulting contract between you and us.

              h4 No Warranty

                p Stim Web Wallet makes no representation or warranty of any kind, implied, expressed or statutory, including but not limited to any warranties of non-infringement, merchantability and fitness for a particular purpose.  You acknowledge and agree that you have not and will not seek to rely upon any warranty or representation in connection with your access to and use of the Website and/or the Services. 

We and our licensors, service providers and subcontractors (if any) make no representations or warranties of any kind about the suitability of the information, software, products and services contained in the Website and/or the Services or their compliance with any accounting rules, principles or laws, and expressly disclaim any representation or warranty that the Website and/or the Services will be free from errors, viruses or other harmful components, that communications to or from the Website and/or the Services will be secure and not intercepted, that the Website and/or the Services and any capabilities thereof will be uninterrupted, or that their content will be accurate, complete or timely.

We cannot and do not guarantee or warrant that files available for downloading from the internet or the website will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our site for any reconstruction of any lost data.  To the fullest extent provided by the law, we will not be held liable for any loss or damage caused by distributed denial of service attacks, viruses or other technologically harmful material that may infect your computer equipment, programs, data or any other proprietary material due to your use of the Website and/or the Services. 

From time to time, Stim Web Wallet  may use third-party service providers, and we provide and make no warranty about their services, and we shall not be held liable for any acts or omissions on the part of these third parties. 

              h4 Limitation of Liability

                p You agree that all access and use of the Website and/or the Services is at your own risk.  In no event shall our company, directors, members, employees or agents be held liable for any damages, including without limitation direct or indirect, special, incidental, or consequential damages, losses or expenses arising in connection with the Website and/or the Services, or any linked site or use thereof or inability to use Website and/or the Services by any party, or resulting from any failure of performance, error, omission, interruption, defect, delay in operation or transmission, loss of data, loss of use, loss of profits, computer virus or line or system failure, even if we, or representatives thereof, are advised of the possibility of such damages, losses or expenses, whether in an action in contract, tort (including but not limited to negligence or otherwise).

To the maximum extent permitted by applicable law, in no event shall the aggregate liability of Stim Web Wallet (including our directors, members, employees or agents), whether in contract, warranty, tort (including negligence, whether active, passive or imputed), product liability, strict liability or other theory, arising out of or relating to the use of, or inability to use, the Website and/or the Services exceed the amount of money that you have paid Stim Web Wallet in connection with the Website and/or the Services. 

              h4 Indemnity

                p You agree to indemnify and hold us, our representatives, licensors and sub-contractors harmless from and against any and all costs, claims, damages, proceedings, causes of action, liability and expenses (including without limitation attorneys’ fees and costs) that we or they might incur by reason of a breach by you of these Terms of Use or arising out of your use or sharing of the Website and/or the Services. For the avoidance of doubt, this indemnity shall extend (without limitation) to any losses that we may suffer as a result of the use by third parties of your user name and password.

              h4 No Offer or Advice

                p These Terms of Use, the Website and/or the Services do not constitute an offer sell or solicitation of an offer to buy securities.  The Website and/or the Services are made available solely for general information purposes, and do not constitute any type of advice, whether financial, legal, investment, accounting, tax or otherwise. 

              h4 No Waiver

                p The failure by Stim Web Wallet or you to exercise any right or remedy under this Terms of Use does not constitute a waiver of that right or remedy. 

              h4 Term

                p These Terms of Use become effective when you indicate your acceptance by clicking the provided “Start” button or upon your first access or use of the Website and/or the Services, whichever is earliest.  We may terminate these Terms of Use and your access and use of the Website and/or Services at any time and, if we do so, we will use our commercially reasonable efforts to provide you with a Communication notifying you of such termination.  You may terminate these Terms of Use on written notice to us at the email address specified above provided that you immediately and permanently cease all access and use of the Website and Services.  Termination of these Terms of Use will not extinguish or alter any rights, obligations or liabilities of you or us that accrued prior to such termination.  In addition, the following sections shall survive any termination of these Terms of Use: “No Warranty;” “Limitation of Liability;” “Indemnity;” and “Applicable Law.”

              h4 Applicable Law

                p You agree to abide by all applicable federal and state laws and regulations in your use of the Website and/or Services, including without limitation the Computer Fraud and Abuse Act.  These Terms of Use shall be governed in all respects by the substantive laws of the State of Delaware, without regard to its provisions relating to conflict of laws.  You agree to submit to the personal and exclusive jurisdiction and venue of the state and federal courts located within the State of Delaware.  If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect.  You agree that regardless of any statute, regulation, or law to the contrary, any claim or cause of action arising out of or related to use of the Website and/or the Services or these Terms of Use must be filed within one (1) year after such claim or cause of action arose or be forever barred.

* * *

               h4 Effective as of 08/09/2018

               .col-sm-offset-3.col-sm-7  
                 button.btn.btn-primary(href='/signup', role='button') Accept
                  
                   
          
