extends layout

block content
  
  .page-header
  
      .wallettitle1(align='center')
              
          img(src='./img/stimlogo1.png', alt='Stim')
                
              
                
  
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a Stim Full Node, allowing access to the speeds and power of the Stim blockchain.
      p
        if user
        else
          a.btn.btn-primary(href='./terms', role='button') Sign Up! »
    .col-sm-6
      h2 What is Stim?
      p
        a.btn.btn-primary(href='https://github.com/Stim-Community/stim', target='_blank', role='button') View Github »
        |&nbsp
        a.btn.btn-primary(href='https://stimco.in', target='_blank', role='button') View WebSite »
